/*--------------------------------------------GENERALES------------------------------------------------------------*/
:root {
    --primario: rgb(141, 149, 14);
    --secundario: rgb(222, 219, 88);
    --borde: black;
    --sombra: rgb(182, 186, 101);
    --terciario: rgba(141, 149, 14, 0.3);
    --hover:rgba(141, 149, 14, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0px;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

body {
background-color: var(--terciario);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*--------------------------------------------------MENU-------------------------------------------------------------------------*/
.menuprincipal {

    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0%;
    animation-name: animelogo;
    animation-duration: 1s;
   
}

/*@media screen(min-width: 320px) and (max-width: 480px) {
    
}*/
.logo {
    width: 15%;
    height: 50%;
    grid-area: header;
    
    position: relative;
    box-shadow: 0.5vh 0.5vh 0.5vh var(--sombra);
    border-radius: 35%;

}
.imglogo {
    width: 100%;
    height: 100%;
    border-radius: 35%;

}
.menustiky{
    width: 100%;
    display: block;
}
.menusociales{
    position: absolute;
    top: 5%;
    right: 0%;
    display: flex;
    width: 23%;
    height: 20%;
    justify-content: space-around;
}
.iconsocial{
    width: 70%;
    height: 85%;
    display: flex;
    justify-content: right;
    position: relative;
    margin: 0.5vh;
}
.barranav {
    width: 100%;
    position: relative;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12vh;
    background-color: var(--primario);
    box-shadow: 1vh 1vh 1vh var(--sombra);
    padding: 1vh;
    border-radius: 5px;
}

.botonmenu {
    width: 20%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--borde);
    padding: 0.5vh;
    border-radius: 15px;
    background-color: var(--secundario);
    text-align: center;
}
.botonmenu:hover{
    background-color: var(--sombra);
}
/*----------------------------------------------MAIN INDEX--------------------------------------------------------------*/
.mainpresentacion{
      
    display: block;
    justify-content: center;
    align-items: center;
    
}

.divpresentacion{
    display:inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.divpresentacion ul{
    text-align: left;
}

/*--------------------------------GALERIA FOTOS-------------------------------------------------*/
#marco_galeria {
    position: static;
    height: 25rem;
    border: 1px solid var(--borde);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background-color:var(--terciario);
    margin-bottom: 2rem;

}

#divimg_galeria {
    display: none;
    justify-content: center;
    align-items: center;
}

#img_galeria {
    width: 30rem;
    height: 20rem;
    border-radius: 10px;
}

.botongaleria {
    
    width: 4rem;
    height: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color:var(--secundario);
    font-size: large;
    user-select: none;
   justify-content: center;
   align-items: center;
  text-align: center;
    display: flex;
    padding: 0.5rem;
    
    
}

#botones_mini {
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: none;
    justify-content: center;
    user-select: none; 
    margin-bottom: 2rem;
}

#boton_inicio {
    width: 30rem;
    height: 3rem;
    user-select: none;
    
    /*con esta propiedad hacemos que el texto del div no sea seleccionable en la pantalla, ojo, aparece en el codigo fuente, 
  solo es algo estético*/

}

#boton_inicio:hover {
    background-color: var(--hover);
    
}

#flecha_der:hover {
    background-color: var(--hover);
}

#flecha_iz:hover {
    background-color: var(--hover);
}
/*
.img_mini{
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
}

#icon_img1 {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--borde);
    border-radius: 10px;
   

}

#icon_img2 {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--borde);
    border-radius: 10px;
    
}

#icon_img3 {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--borde);
    border-radius: 10px;
    
}

#icon_auto{
    position: absolute;
    width: 3rem;
    height: 2.5rem;
    border: 1px solid var(--borde);
    border-radius: 10px;
    background-color: var(--terciario);
  right: 1rem;
 
}
*/