/*--------------------------------------------GENERALES------------------------------------------------------------*/
:root {
    --primario: #8d950e;
    --secundario: rgb(222, 219, 88);
    --borde: 1px solid white;
    --sombra: rgba(141, 149, 14, 0.6);
    --terciario:
        /*white*/
        rgba(141, 149, 14, 0.3);
    --complementario: white;
    --hover: rgb(182, 186, 101);
    --radius: 10px;
    /*
    --primario: #1A87E8;
    --secundario: #dedb58  #8d950e;
    --borde:1px solid white;
    --sombra: rgba(141, 149, 14, 0.6);
    --terciario:white rgba(141, 149, 14, 0.3)#1A87E8;
    --complementario:white;
    --hover:rgb(182, 186, 101);
    --radius:10px;*/
}

* {
    box-sizing: border-box;
   margin: 0%;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

body {
    background-color: var(--terciario);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*--------------------------------------------------MENU-------------------------------------------------------------------------*/
.menuprincipal {

    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0%;
    animation-name: animelogo;
    animation-duration: 1s;

}

/*@media screen(min-width: 320px) and (max-width: 480px) {
    
}*/
.logo {
    width: 15vw;
    height: 50%;
    grid-area: header;
    border-radius: 15px;
    position: relative;
    box-shadow: 1vh 1vh 1vh var(--sombra);


}

.imglogo {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.menustiky {
    width: 100%;
    display: block;
}

.menusociales {
    display: flex;
    width: 23%;
    height: 20%;
    justify-content: space-around;
}

.iconsocial {
    width: 65%;
    height: 75%;
    display: flex;
    justify-content: right;
    position: relative;
    margin: 0.5vh;
}

.barranav {
    width: 100%;
    position: relative;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    background-color: var(--primario);
    box-shadow: 1vh 1vh 1vh var(--sombra);
    padding: 1vh;
    border-radius: 5px;

}

.botonmenu {
    width: 15%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: var(--borde);
    border-radius: var(--radius);
    background-color: var(--secundario);

}

.botonmenu:hover {
    background-color: var(--hover);
}

/*---------------------------------------------FOOTER----------------------------------------------------------------------*/
.contfooter {
    display: flex;
    min-height: 7rem;
    justify-content: space-around;
    align-items: center;
    /* border:var(--borde);*/
    box-shadow: 1vh 1vh 1vh var(--sombra);
    background-color: var(--primario);
}

.contactofooter {
    width: 10rem;
}

.condlegales {
    width: 15rem;
    display: block;

}

.condlegales a {
    color: darkblue;
    border: var(--borde);
    background-color: var(--secundario);
    border-radius: var(--radius);
    padding: 0.5rem;
}

.condlegales a:hover {
    background-color: var(--hover);
}

/*----------------------------------------------MAIN INDEX--------------------------------------------------------------*/
.mainpresentacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  align-content: center;


}

.divpresentacion {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
   

}

.contpresentacion {
    width: 50%;
    border: var(--sombra);
    border-radius: var(--radius);
    background-color: var(--complementario);
    margin: 10px;
    padding: 1vh;
}

.contindex {
    
    display:block;
   
    
}
.contindex h2{
    width: 100%;
    height: 8rem;
    border: var(--borde);
    border-radius: var(--radius);
    background-color: var(--secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.contindex figcaption{
    font-weight: bold;
    width:9vw;
    text-align: center;
    
}
.contmiembros {
    align-items: center;
    text-align: center;
    border: var(--sombra);
    border-radius: var(--radius);
    background-color: var(--complementario);
     margin: 10px;
     padding: 1vh;
    
}
.contmiembros img{
     margin: 10px;
    
}
.fichamiembro {
    width: 12rem;
   
}
.fichascontindex{
    display: flex;
    flex: auto;
}
.divcolaboradores {
    width: 70%;/*aqui se puede poner */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: var(--sombra);
    border-radius: var(--radius);
    background-color: var(--complementario);
    margin: 10px;
    padding: 1vh;
    
}

.divcolaboradores img{
    width: 9rem;
}
.divcolaboradores figure{
    width: 10rem;
    font-size: small;
    text-align: justify;
    
}
.calidadindex{
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: var(--sombra);
    border-radius: var(--radius);
    background-color: var(--complementario);
    margin: 10px;
    padding: 1vh;
}
.imgoca{
    
    width: 4rem;
    height: 4rem;
    right: 0%;
    box-shadow:1vh 1vh 1vh var(--sombra);
    background-color: gray;
    border-radius: var(--radius);
}

.divpresentacion ul {
    text-align: left;
}

.divpresentacion h2,
.divpresentacion h3 {
    height: 8rem;
    border: var(--borde);
    border-radius: var(--radius);
    background-color: var(--secundario);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------------------------MAIN CONDICIONES LEGALES--------------------------------------------*/
.avisolegal {
    padding: 0.9rem;
}

.avisolegal h2,
p,
h3 {
    padding: 0.5rem;
}

/*-----------------------------------------POLITICA DE PRIVACIDAD-------------------------------------------------------------*/
.botondescarga {
    width: 8vw;
    border: var(--borde);
    background-color: var(--secundario);
    border-radius: var(--radius);
    text-align: center;
}

.botondescarga:hover {
    background-color: var(--hover);
}

/*-------------------------------------------LINKS DE INTERES------------------------------------------------------*/
.mainenlaces {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.fichaenlaces {
    width: 19%;
    height: 20%;
    text-align: center;
    border: var(--borde);
    box-shadow: 1vh 1vh 1vh var(--sombra);
    background-color: var(--complementario);
    border-radius: var(--radius);
    margin: 10px;
    transition: width 1s;
}
.fichaenlaces:hover{
   width: 24%;
}

figure img {
    width: 11rem;
    margin: 5px;
}
/*--------------------------------------------------------POLITICA DE CALIDAD---------------------------------------------------------------------------*/
.txtcalidad,
.orgcalidad{
    width: 95%;
    text-align: justify;
    border: var(--borde);
    background: var(--complementario);
    margin:auto;
    border-radius: var(--radius);
    padding: 2vh;
    margin-bottom: 10px;
}
.txtcalidad h1,
.txtcalidad h5{
    text-align: center;
    margin-bottom: 5px;
}
.orgcalidad{
    display: inline-block;
    
    

}
.orgcalidad h2{
    width: 100%;
text-align: center;
background-color: var(--secundario);
border-radius: var(--radius);
padding: 1vh;
}
.divorg{
    width: 8rem;
    border:1px solid var(--terciario);
    text-align: center;
    border-radius: var(--radius);

}

