/*--------------------------------------------GENERALES------------------------------------------------------------*/
:root {
    --primario: rgb(141, 149, 14);
    --secundario: rgb(222, 219, 88);
    --borde: black;
    --sombra: rgb(182, 186, 101);
    --terciario: rgba(141, 149, 14, 0.3);
    --hover:rgba(141, 149, 14, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0px;
}

a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

body {
background-color: var(--terciario);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*--------------------------------------------------MENU-------------------------------------------------------------------------*/
.menuprincipal {

    display: flex;
    flex-wrap: nowrap;
    position: sticky;
    top: 0%;
    animation-name: animelogo;
    animation-duration: 1s;
   
}

/*@media screen(min-width: 320px) and (max-width: 480px) {
    
}*/
.logo {
    width: 15%;
    height: 50%;
    grid-area: header;
    
    position: relative;
    box-shadow: 0.5vh 0.5vh 0.5vh var(--sombra);
    border-radius: 35%;

}
.imglogo {
    width: 100%;
    height: 100%;
    border-radius: 35%;

}
.menustiky{
    width: 100%;
    display: block;
}
.menusociales{
    display: flex;
    width: 23%;
    height: 20%;
    justify-content: space-around;
}
.iconsocial{
    width: 65%;
    height: 75%;
    display: flex;
    justify-content: right;
    position: relative;
    margin: 0.5vh;
}
.barranav {
    width: 100%;
    position: relative;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 12vh;
    background-color: var(--primario);
    box-shadow: 1vh 1vh 1vh var(--sombra);
    padding: 1vh;
    border-radius: 5px;
}

.botonmenu {
    width: 20%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--borde);
    padding: 0.5vh;
    border-radius: 15px;
    background-color: var(--secundario);
    text-align: center;
}
.botonmenu:hover{
    background-color: var(--sombra);
}
/*---------------------------------------------FOOTER----------------------------------------------------------------------*/
.contfooter{
    display: flex;
    min-height: 7rem;
    justify-content: space-around;
    align-items: center;
    border:1px solid var(--borde);
    box-shadow: var(--sombra);
    background-color: var(--primario);

}
.contactofooter{
    width: 10rem;
}
/*----------------------------------------------MAIN INDEX--------------------------------------------------------------*/
.mainpresentacion{ 
    display: block;
    justify-content: center;
    align-items: center;
    
}

.divpresentacion{
    display:inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.divpresentacion ul{
    text-align: left;
}
.divpresentacion h2{
  font-size: xx-large;
}

/*---------------------------------------MAIN CONDICIONES LEGALES--------------------------------------------*/
.condLegales{
    padding: 0.9rem;
}
.condLegales h2,p,h3{
     padding: 0.5rem;
}